data/raw_videos/**
data/frames_raw/**
data/labels/**
data/artifacts/**
datasets/**
models/runs/**/*.png
models/runs/**/*.jpg
models/runs/**/*.jpeg
notebooks/runs/**/*.png
notebooks/runs/**/*.jpg
notebooks/runs/**/*.jpeg

logs/**
fruitnai.egg-info/

__pycache__/
*.avi